link(href="../public/style/wiki.css", rel="stylesheet")
link(href="../public/libs/bootstrap/dist/css/bootstrap.min_1.css", rel="stylesheet")
script(src="../public/libs/jquery/dist/jquery.min.js")
script(src="../public/libs/bootstrap/dist/js/bootstrap.min.js")