extends ../layout

block content
	.wiki
		.wikibox
			.leftarea
				img(src="../../public/images/wiki/wiki_title.png", alt="碧蓝wiki", width="185", class="wikititle")
				h4.titledetail 图鉴 数据 详情
			.rightarea
					form(method="GET", action="/search")
						.input-group
							input.form-control.searchhg(type="text", placeholder="搜索感兴趣的内容", name="search")
							span.input-group-btn
								button.btn.btn-search(type="submit")
									img(src="../../public/images/wiki/search_icon.png", width="19")
	.wikimain
		.wikimainbox
			.classifytitle.clearfix
				h3 驱逐舰
				.wikinavbg
				p 驱逐舰是一种多用途的军舰，广泛的作战职能使驱逐舰成为现代海军舰中用途最广的舰艇
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
						img.biankuang(src="../../public/images/wiki/bai.png", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
			.classifytitle.clearfix
				h3 驱逐舰
				.wikinavbg
				p 驱逐舰是一种多用途的军舰，广泛的作战职能使驱逐舰成为现代海军舰中用途最广的舰艇
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
				.charcterlist
					a(href="")
						img(src="../../public/images/wiki/kaxin.jpg", width="80")
					a.charctername(href="")
						| 卡辛
	include ../includes/footer	